<div id="popularity-sidebar">
    <h1 class="topic-display-title" >Popular Topics Today</h1>
    <hr>

    <ol>
    {{#each popularTopics as |child|}}
        <li><a href="/topics/LINKS_NOT_FINISHED">{{child.name}}</a></li>
    {{/each}}
    </ol>

</div>
