<div id="uploaded-content">
    <h1 class="topic-display-title">Your Uploaded Content</h1>
    <hr>

    <ol>
    {{#each uploadedContent as |child|}}
        <li><a href="/topics/LINKS_NOT_FINISHED">{{child.name}}</a></li>
    {{/each}}
    </ol>
</div>
