<body>
    <h1>Question 1: 2+2=?</h1>
    <p>Answer: 4</p>
    <h1>Question 2: 3x+1=7. What is x?</h1>
    <p>Answer: 2</p>
    <h1>Question 3: (8x*3)/2=20. What is x?</h1>
    <p>Answer: 5/3 or 2.666</p>
</body>
