<form action="/create-new-account" method="POST">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><label for="email">Email Address</label></td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create Account" /></td>
        </tr>
    </table>
</form>