<div id="under-construction">
    <div id="desc">
        <h1 style="margin-block-end:0px;">Homepage under construction.</h1>
        <hr>
        <p>ETA: March 25th, 2100</p>
    </div>

    <div id="bg-cont">
        <img style="width: 100%; height: 100%;" src="bg.jpg" />
    </div>
</div>