<div class="window-m">
<table class="center">
	<tr>
        <td>
            {{>uploadedContentSidebar}}
        </td>
    </tr>
</table>
  <div class="center">
    <button type="button" name="change-email" onclick="displayAlert()" class="but">Change Email</button>
    <button type="button" name="delete-account" onclick="displayAlert()" class="del_but">Delete Account</button>
    </div>
   </div>
