<div class="window-m">
<table class="center">
	<tr>
		<td>
			{{>uploadedContent}}
		</td>
  	</tr>
</table>
<div class="center">
	{{#if validUser}}
		<button type="button" name="change-email" onclick="displayAlert()" class="but">Change Email</button>
		<button type="button" name="delete-account" onclick="checkIfUserLoggedIn()" class="del_but">Delete Account</button>
	{{/if}}
</div>
