<table>
    <tr>
        <td>
            {{>uploadedContentSidebar}}
        </td>
    </tr>
    <button type="button" name="change-email" onclick="displayAlert()">Change Email</button>
    <button type="button" name="delete-account" onclick="checkIfUserLoggedIn()">Delete Account</button>
</table>
