<table>
    <tr>
        <td>
            <div id="content-container">
                {{#each topicData as |parentTopic|}}
                    <div class="topic-display card">
                        <h1 class="topic-display-title"><a href="/topics/{{parentTopic.id}}/">{{parentTopic.parentName}}</a></h1>
                        <hr>

                        {{#each parentTopic.childTopics as |child|}}
                            <div class="topic-display-child-topic"><a href="/topics/{{child.id}}">{{child.name}}</a></div>
                        {{/each}}
                    </div>
                {{/each}}
            </div>
        </td>
        <td>
            {{>popularTopicsSidebar}}
            {{>popularResourcesSidebar}}
        </td>
    </tr>
</table>
