
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* So it's not blue */
a{
	color:black;
}
/*  Spacing out content */
li {
	margin-top:30px;
}
body{
    margin: 0;
}
/* For  a tags  */
li a:hover{
	text-decoration:underline;
	color:blue;

}
#navbar{
    border-top: 4px maroon solid;
    border-bottom: 4px maroon solid;


    display: block;
    position: relative;
    top:0px;

    height: 60px;    
    z-index: 100;
    font-family: "Montserrat" ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: crimson;
}

/*remove the underline */
#navbar a{
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
}
#navbar a:hover{
	background:#a30f2c;

}
/* Once the window reaches 1026px x 969px we get problems */
.navbar-item { 
    filter: none;
    display: block;
    float: left;

    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;

    color: white;
    text-shadow: 0px 0px 4px black;
}
/* media for navbar */
@media only screen and (max-width:1076px){
	#navbar{
		float:none;
		height:auto;
	}
	#navbar a{
		float:none;
		margin-right:5px;
		margin-left:5px;
	}
	.navbar-item{
		float:none;
		margin-right:5px;
		margin-left:5px;

	}
}

.navbar-item > p {
    display: inline-block;
    color: rgb(189, 189, 189);
}

#home {
    /*margin-left: 200px; not needed */
}

#logo {
    
    /* filter: brightness(320%); */
    user-select: none;
    background: rgb(1, 1, 1, 0.2);
    padding: 0px 10px;

    border: 1px lightgray;
    border-radius: 10px;

    text-shadow: 0px 0px 4px white;
    font-size: 40px;
    font-family: 'Gruppo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#account-button{
    float: right;
    margin-right: 30px;
}


#content-container {
    overflow: hidden;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-height: 100px;
    background: white;
    padding: 30px;

}

#content-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0px 0px 6px black;
    width: 300px;
    height: 200px;

    padding: 20px;  
    margin-right: 40px;
    margin-bottom: 40px;
    background: white;
}

.topic-display-title {
    font-size: 24px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.topic-display * {
    color: black;
}

#upload-container {
    width: 600px;
    height: auto;

    box-shadow: 0px 0px 6px black;

    padding: 20px;  
    margin: 0 auto;
    margin-top: 60px;
    background: white;

}

.sc-icon-container {
    /* height: 100%; */
    display: inline-block;
    width: 18px;
    margin-right: 0.4em;
}

.sc-svg {
    display: block;
    margin: auto;
    height: 16px;
    max-width: 20px;

    font-style:normal;
    font-weight:normal;
    font-variant:normal;

    text-transform:none;
    line-height:1;
    
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
/*button stuff for my account */
.but{
	background-color: grey;
	color: white;
	font-size:24px;
	outline:none;
	cursor:not-allowed;
	opacity:0.6;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 300px;
	padding:5px;
	margin-left:5%;
	border:none;
	margin-top:40px;
	text-decoration:line-through;
}

.del_but{
	background-color: maroon;
	color: white;
	font-size:24px;
	outline:none;
	opacity:0.9;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	width: 300px;
	padding:5px;
	margin-left:5%;
	border:none;
	margin-top:40px;
	cursor:pointer;

}
.del_but:hover{
	opacity:0.6;
}
/*  center content*/
.center{
	margin:auto;
	width:25%;
}
/* Greyed out area */
.window-m{
	background-color: lightgrey;
	padding:36px 14px;
	margin-top: 20px;
	margin-left: 1%;
	margin-right:1%;
	border-radius: 20px;
}

.remove-h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.submit-button {
    width: 100%;
    height: 30px;

    border: black solid 1px;
    background: rgb(211, 210, 210);
}

.submit-button:hover {
    box-shadow: 0px 0px 4px gray;
}

.hidden {
    display: none;
}

.message {
    width: auto;
    height: 30px;

    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px;

    background: khaki;
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    border-radius: 10px;
}

#under-construction {
    margin: 40px;
    position: relative;
    width: auto;
    height: 500px;

    box-shadow: 0px 0px 4px black;
    padding: 5px 20px;
}

#bg-cont {
    overflow: hidden;
    position: absolute;
    top:0;
    left: 0;

    width: 100%; 
    height: 100%; 
    z-index: 0;
}

#bg-cont > img {
    filter:  blur(30px);
    transform: scale(1.2);
}

#desc > *{
    position: relative;
    z-index: 10;
    background: none;
}